<section id="about" class="mt-5">
  <div class="container">
    <div class="row d-flex">
      <div class="col-lg-6 col-12">
        <div class="content-about-wrapper p-5 border border-secondary rounded">
          <div class="conten-about-left d-flex align-items-center">
            <div class="content-icon">
              <i class="bi bi-backspace-reverse-fill me-3 text-success"></i>
            </div>
            <div class="content-text">
              <p class="about-year">2000</p>
              <p class="about-title">Perubahan Management dan Kepemilikan</p>
            </div>
          </div>
          <div class="conten-about-left d-flex align-items-center">
            <div class="content-icon">
              <i class="bi bi-backspace-reverse-fill me-3 text-success"></i>
            </div>
            <div class="content-text">
              <p class="about-year">2007</p>
              <p class="about-title">Menggunakan ‘Remote Trading’</p>
            </div>
          </div>
          <div class="conten-about-left d-flex align-items-center">
            <div class="content-icon">
              <i class="bi bi-backspace-reverse-fill me-3 text-success"></i>
            </div>
            <div class="content-text">
              <p class="about-year">2009</p>
              <p class="about-title">
                Berpartisipasi dalam Transaksi Negosiasi PT Adaro Energy senilai
                Rp15,73 Triliun
              </p>
            </div>
          </div>
          <div class="conten-about-left d-flex align-items-center">
            <div class="content-icon">
              <i class="bi bi-backspace-reverse-fill me-3 text-success"></i>
            </div>
            <div class="content-text">
              <p class="about-year">2021</p>
              <p class="about-title">
                Terdaftar di KSEI dan IDX sebagai sekuritas yang dapat melakukan
                pembukaan rekening efek secara digital
              </p>
            </div>
          </div>
          <div class="conten-about-left d-flex align-items-center">
            <div class="content-icon">
              <i class="bi bi-backspace-reverse-fill me-3 text-success"></i>
            </div>
            <div class="content-text">
              <p class="about-year">2021</p>
              <p class="about-title">
                Perubahan Manajemen & Kepemilikian dari PT Mahakarya Artha
                Sekuritas menjadi PT Stockbit Sekuritas Digital
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <h1 class="title-about-right mb-4">Informasi Perusahaan</h1>
        <p class="text-about-right text-justify">
          Berdiri sejak tahun 1990 dengan nama PT Mahakarya Artha Sekuritas dan
          terdaftar di OJK dengan nomor izin KEP-132/PM/1992, PT Mahakarya Artha
          Sekuritas terus berkomitmen dalam meningkatkan jumlah investor di
          Indonesia untuk membantu perekonomian nasional. Pada Desember 2021, PT
          Mahakarya Artha Sekuritas telah resmi diakuisisi dan berganti nama
          menjadi PT Stockbit Sekuritas Digital.
        </p>
        <p class="text-about-right text-justify">
          Sebagai perusahaan efek yang telah memiliki pengalaman, PT Stockbit
          Sekuritas Digital berkomitmen untuk terus melakukan inovasi dan
          memberikan layanan serta pengalaman investasi yang mudah, aman dan
          terpercaya bagi investor melalui teknologi kelas dunia untuk dapat
          memfasilitasi masyarakat dalam berinvestasi secara mudah di pasar
          modal Indonesia melalui layanan perdagangan saham online yang modern.
          Melalui aplikasi investasi sosial Stockbit investor dapat berdiskusi
          sekaligus melakukan transaksi saham secara daring. Pembukaan akun
          rekening sekuritas juga dapat dilakukan melalui aplikasi Stockbit yang
          dapat diunduh melalui Playstore dan Appstore.
        </p>
      </div>
    </div>
  </div>
</section>
