<section id="banner" class="mt-5">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-lg-6 col-12">
        <img
          src="https://stockbit.com/assets/template/buy-sell-image.svg"
          alt="image"
        />
      </div>
      <div class="col-lg-6 col-12">
        <h1 class="banner-title fw-bold">
          Daftar 100% Online <br />
          Tanpa Minimum Deposit
        </h1>
        <p class="banner-text fs-5">
          Akun rekening kamu akan diproses secara digital tanpa perlu mengirim
          dokumen fisik.
        </p>
      </div>
    </div>
  </div>
</section>
