<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fs-3" routerLink="">NewsAsix</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav navbar-mobile ms-auto mb-2 mb-lg-0 fs-5 w-50 justify-content-around"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=""
            >Beranda</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active text-main"
            aria-current="page"
            routerLink=""
            [ngxScrollTo]="'#services'"
            >Services</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link active text-main"
            aria-current="page"
            routerLink="/about"
            >Tentang Kami</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/article"
            >Artikel</a
          >
        </li>
      </ul>
      <div class="navbar-button d-flex align-items-center ms-auto">
        <a routerLink="/auth" class="btn btn-success mx-2 fs-5 btn-mobile"
          >SIGN UP</a
        >
      </div>
    </div>
  </div>
</nav>
