<section id="article" class="mt-5">
  <div class="container">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-lg-4 col-12">
        <h1 class="article-title">Your Daily Snips Of Market News</h1>
        <p class="article-text mt-5">
          Cuplikan berita pasar saham terhangat dikirim setiap hari ke email
          kamu
        </p>
        <form class="d-flex mt-5">
          <input
            class="form-control me-2"
            type="email"
            placeholder="name@example.com"
            aria-label="Search"
          />
          <button class="btn btn-success" type="submit">Subscribe</button>
        </form>
      </div>
      <div class="col-lg-6 col-12">
        <img
          src="https://snips.stockbit.com/s/snips.webp"
          alt=""
          class="w-75"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-12">
        <form action="">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search article"
            aria-label="Search"
          />
        </form>
      </div>
      <div class="row d-flex align-items-center my-5">
        <div class="col-lg-10 col-5">
          <h1 class="new-article">Artikel terbaru</h1>
        </div>
        <div class="col-lg-2 col-5 text-end">
          <a href="" class="fs-4 text-success text-decoration-none">see all</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-12 mb-5">
        <a href="" class="text-decoration-none text-dark">
          <img
            src="https://images.squarespace-cdn.com/content/v1/5acda2f4c258b4bd2d14dca2/e1bc8e6a-5d86-4ae2-a160-65fa3d54b47f/Perbedaan+Stop+Loss%2C+Cut+Loss+dan+Trailing+Stop.jpg?format=300w"
            alt=""
            class="w-100"
          />
          <p class="article-published mt-2">Aug 30, 2022</p>
          <h5 class="article-title fs-4">
            3 Sikap Saat Menghadapi Kerugian Investasi Saham
          </h5>
        </a>
      </div>
      <div class="col-lg-4 col-12 mb-5">
        <a href="" class="text-decoration-none text-dark">
          <img
            src="https://images.squarespace-cdn.com/content/v1/5acda2f4c258b4bd2d14dca2/1661135126867-U856HNXT6LLFCLJ8AHMK/Cara+Memilih+Saham+Untuk+Dana+Pensiun.jpg?format=300w"
            alt=""
            class="w-100"
          />
          <p class="article-published mt-2">Aug 29, 2022</p>
          <h5 class="article-title fs-4">
            BARU! Cek Transaksi Investor Secara Real Time Pakai Running Trade
          </h5>
        </a>
      </div>
      <div class="col-lg-4 col-12 mb-5">
        <a href="" class="text-decoration-none text-dark">
          <img
            src="https://images.squarespace-cdn.com/content/v1/5acda2f4c258b4bd2d14dca2/1661135126867-U856HNXT6LLFCLJ8AHMK/Cara+Memilih+Saham+Untuk+Dana+Pensiun.jpg?format=300w"
            alt=""
            class="w-100"
          />
          <p class="article-published mt-2">Aug 29, 2022</p>
          <h5 class="article-title fs-4">
            5 Langkah Cara Memilih Saham Dana Pensiun Dengan Tepat
          </h5>
        </a>
      </div>
      <div class="col-lg-4 col-12 mb-5">
        <a href="" class="text-decoration-none text-dark">
          <img
            src="https://images.squarespace-cdn.com/content/v1/5acda2f4c258b4bd2d14dca2/e1bc8e6a-5d86-4ae2-a160-65fa3d54b47f/Perbedaan+Stop+Loss%2C+Cut+Loss+dan+Trailing+Stop.jpg?format=300w"
            alt=""
            class="w-100"
          />
          <p class="article-published mt-2">Aug 30, 2022</p>
          <h5 class="article-title fs-4">
            3 Sikap Saat Menghadapi Kerugian Investasi Saham
          </h5>
        </a>
      </div>
      <div class="col-lg-4 col-12 mb-5">
        <a href="" class="text-decoration-none text-dark">
          <img
            src="https://images.squarespace-cdn.com/content/v1/5acda2f4c258b4bd2d14dca2/1661135126867-U856HNXT6LLFCLJ8AHMK/Cara+Memilih+Saham+Untuk+Dana+Pensiun.jpg?format=300w"
            alt=""
            class="w-100"
          />
          <p class="article-published mt-2">Aug 29, 2022</p>
          <h5 class="article-title fs-4">
            BARU! Cek Transaksi Investor Secara Real Time Pakai Running Trade
          </h5>
        </a>
      </div>
      <div class="col-lg-4 col-12 mb-5">
        <a href="" class="text-decoration-none text-dark">
          <img
            src="https://images.squarespace-cdn.com/content/v1/5acda2f4c258b4bd2d14dca2/1661135126867-U856HNXT6LLFCLJ8AHMK/Cara+Memilih+Saham+Untuk+Dana+Pensiun.jpg?format=300w"
            alt=""
            class="w-100"
          />
          <p class="article-published mt-2">Aug 29, 2022</p>
          <h5 class="article-title fs-4">
            5 Langkah Cara Memilih Saham Dana Pensiun Dengan Tepat
          </h5>
        </a>
      </div>
    </div>
  </div>
</section>
